* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #272727;
}